.home {
  display: flex;
  align-items: center;
  height: rem(968px);
  background-color: var(--color-purple);

  &__container {
    position: relative;
    width: 100%;
  }

  &__title {
    max-width: em(430px, 60px);
    margin: 0 0 rem(40px);
    font-size: rem(60px);
    font-weight: 400;
    line-height: em(70px, 60px);
    color: var(--color-light);

    span {
      color: var(--color-secondary);
    }

    @include sm-laptop {
      margin-bottom: rem(20px);
      font-size: rem(44px);
    }

    @include tablet {
      font-size: rem(34px);
    }
  }

  &__text {
    max-width: em(410px, 18px);
    margin-bottom: rem(25px);

    @include sm-laptop {
      margin-bottom: rem(20px);
    }
  }

  &__image {
    position: absolute;
    top: 50%;
    right: rem(-95px);
    width: rem(738px);
    height: rem(530px);
    background-image: url("@images/work-process.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%);

    @include resolution(1100px) {
      right: 0;
      width: rem(500px);
      height: rem(380px);
    }

    @include l-tablet {
      right: rem(-120px);
    }

    @include tablet {
      width: rem(420px);
      height: rem(320px);
    }

    @include resolution(640px) {
      right: rem(-156px);
    }

    @include l-mobile {
      right: rem(-130px);
      width: rem(320px);
      height: rem(250px);
    }

    @include resolution(520px) {
      display: none;
    }
  }

  @include l-tablet {
    height: rem(840px);
  }

  @include tablet {
    height: rem(780px);
  }

  @include l-mobile {
    height: rem(660px);
  }
}
