.home {
  display: flex;
  align-items: center;
  height: rem(968px);
  background-color: var(--color-purple);

  &__container {
    position: relative;
    width: 100%;
  }

  &__title {
    max-width: rem(430px);
    margin: 0 0 rem(40px);
    font-size: rem(60px);
    font-weight: 400;
    line-height: em(70px, 60px);
    color: var(--color-light);

    span {
      color: var(--color-secondary);
    }
  }

  &__text {
    max-width: rem(410px);
    margin-bottom: rem(25px);
  }

  &__image {
    position: absolute;
    top: 50%;
    right: rem(-95px);
    width: rem(738px);
    height: rem(530px);
    background-image: url("@images/work-process.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform: translateY(-50%);
  }
}
