section.home.bottom-wave
  .container.home__container
    .home__content
      h1.home__title
        | We're strategic 
        span SEO Marketing 
        | agency.
      p.text.text--md.text--secondary.home__text
        | Spyro is a powerful landing pages builder WP theme that lets you build high converting landing pages using its specially crafted modules clubbed inside.
      button.btn.btn-reset.btn--primary.btn--md Explore Now
    .home__image
