.how {
  padding: rem(100px) 0;
  margin-bottom: rem(190px);
  background-color: var(--color-meteorite);

  &__title {
    max-width: rem(424px);
    margin: 0 auto rem(45px);
    text-align: center;

    span {
      color: var(--color-secondary);
    }
  }

  &__text {
    margin-bottom: rem(90px);
    text-align: center;
  }

  &__items {
    position: relative;
    display: flex;
    justify-content: space-between;

    &::after {
      position: absolute;
      top: rem(28px);
      left: 50%;
      width: calc(100% - #{rem(115px) * 2});
      height: rem(2px);
      content: "";
      background-color: rgb(255 255 255 / 30%);
      transform: translateX(-50%);
    }
  }
}

.how-item {
  flex-basis: rem(230px);
  text-align: center;

  &__icon {
    position: relative;
    z-index: 1;
    width: rem(130px);
    margin: 0 auto rem(25px);
    background-color: var(--color-meteorite);

    svg {
      width: rem(56px);
      height: rem(56px);
      text-align: center;
    }
  }

  &__name {
    margin-bottom: rem(14px);
  }
}
