section.how.top-wave.bottom-wave.top-wave--violet.bottom-wave--violet
  .container.how__container
    h2.title.title--xl.title--thindly.how__title
      | How 
      span SEO 
      | works step by step?
    p.text.text--md.text--secondary.how__text The best part of being a part of this community
    .how__items
      .how-item
        .how-item__icon
          +icon("diagrams")
        h4.title.title--md.title--thindly.how-item__name Business Analysis
        p.text.text--secondary.how-item__text
          | Spyro is a landing page WP theme, that lets you build stunning high performance.
      .how-item__line
      .how-item
        .how-item__icon
          +icon("shapes")
        h4.title.title--md.title--thindly.how-item__name Keyword Analysis
        p.text.text--secondary.how-item__text
          | Spyro is a landing page WP theme, that lets you build stunning high performance.
      .how-item__line
      .how-item
        .how-item__icon
          +icon("optimization")
        h4.title.title--md.title--thindly.how-item__name Optimization
        p.text.text--secondary.how-item__text
          | Spyro is a landing page WP theme, that lets you build stunning high performance.
