section.news.top-wave.top-wave--selago
  .container.news__container
    h2.title.title--xl.title--primary.news__title News & Case Studies
    p.text.text--md.text--primary.news__text
      | We specialize in a wide array of marketing fields
    .news__wrapper
      a.news-item(href="#")
        .news-item__image
          +image("news/1.jpg", "A girl is looking at the red book")
        .news-item__tags
          span.news-item__tag Reviews
        h4.news-item__name
          | The Art and Science behind Typography
      a.news-item(href="#")
        .news-item__image
          +image("news/2.jpg", "A man stands on the mountains background")
        .news-item__tags
          span.news-item__tag News
          span.news-item__tag Reviews
          span.news-item__tag Technology
        h4.news-item__name
          | When hobby, passion and profession one and the same
      a.news-item(href="#")
        .news-item__image
          +image("news/3.jpg", "People speak to each other in the meeting")
        .news-item__tags
          span.news-item__tag Reviews
          span.news-item__tag Top Picks
        h4.news-item__name
          | 5 tips to keep your customers happy By Spyro December 22, 2018
    button.btn.btn-reset.btn--secondary.btn--md See all posts
