section.optimization.top-wave.bottom-wave
  .container.optimization__container
    .optimization__content
      h2.title.title--xl.title--thindly.optimization__title Conversion rate optimization
      p.text.text--md.text--secondary.optimization__text
        | Spyro is a powerful landing pages builder WordPress theme that lets you build high converting landing pages using its specially crafted modules clubbed inside.
      button.btn.btn-reset.btn--primary.btn--md Get a quote
    .optimization__methods
      .optimization__column
        .method
          .method__icon
            +icon("tick-in-circle")
          h4.title.title--md.title--primary.method__name CRO Techniques
          p.text.text--sm.text--primary
            | Spyro is a powerful landing pages builder WordPress theme that lets you build high converting pages.
        .method
          .method__icon
            +icon("line-height")
          h4.title.title--md.title--primary.method__name A/B Split Testing
          p.text.text--sm.text--primary
            | The theme comes with 10+ stunning pre-built demos which you can use as your website.
      .optimization__column
        .method
          .method__icon
            +icon("board")
          h4.title.title--md.title--primary.method__name User Recordings
          p.text.text--sm.text--primary
            | Built by keeping Advertisers, Marketers, Lead Generation Companies, and Individuals.
        .method
          .method__icon
            +icon("internet")
          h4.title.title--md.title--primary.method__name Better Website ROI
          p.text.text--sm.text--primary
            | Spyro is a marketing landing page WP theme, that lets you build stunning high performance.
