section.partners
  .container.partners__container
    +image("slack.jpg", "Blue, green, orange, red shape (slack logo)")
    +image("dato-cms.jpg", "Orange shape (dato cms logo)")
    +image("100-tb.jpg", "Gray shape (100tb logo)")
    +image("seek-png.jpg", "red, orange, blue shape (seek png logo)")
    +image("owl.jpg", "Blue, red shape (owl logo)")
    +image("flickr.jpg", "Black text (filckr logo)")
