.partners {
  margin-bottom: rem(190px);

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(110px), 1fr));
    gap: rem(60px) rem(30px);
    align-items: center;
    justify-items: center;
  }

  @include tablet {
    margin-bottom: rem(120px);
  }

  @include mobile {
    margin-bottom: rem(90px);
  }
}
