section.prices.top-wave.bottom-wave
  .container.prices__container
    h2.title.title--xl.title--thindly.prices__title Pricing & Plans
    p.text.text--md.text--secondary.prices__text
      | We offer best price in the market
    .prices__wrapper
      .plan
        h4.plan__name Silver
        p.plan__price
          | $
          sup 159
          | / Per Month
        ul.list-reset.plan__options
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--tick Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Top 10 Ranking Guarantee
        .plan__buy
          button.btn.btn-reset.btn--secondary.btn--md Get Started
      .plan.plan--popular
        h4.plan__name Gold
        p.plan__price
          | $
          sup 399
          | / Per Month
        ul.list-reset.plan__options
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--tick Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--cross(aria-hidden="true") Top 10 Ranking Guarantee
        .plan__buy
          button.btn.btn-reset.btn--secondary.btn--md Get Started
      .plan
        h4.plan__name Platinum
        p.plan__price
          | $
          sup 549
          | / Per Month
        ul.list-reset.plan__options
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--tick Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
          li.text.text--sm.text--primary.plan__option.plan__option--tick Weekly Reporting
          li.text.text--sm.text--primary.plan__option.plan__option--tick Key Words Optimized
          li.text.text--sm.text--primary.plan__option.plan__option--tick Top 10 Ranking Guarantee
        .plan__buy
          button.btn.btn-reset.btn--secondary.btn--md Get in touch
