section.reviews
  .container.reviews__container
    h2.title.title--xl.title--primary.reviews__title What client saying
    .swiper.reviews-slider
      .swiper-wrapper
        .swiper-slide.review
          q.text.text--xl.text--primary.review__quote
            | I really can recommend this theme, because it’s coded very well and with the Webflow page builder it’s really easy to build your own website! Also it’s updated regularly and new functions are added!
          .review-author
            .review-author__photo
              +image("employeers/jonathan-kent.jpg", "Lauren Nunnally's photo")
            h5.title.title--md.review-author__name Lauren Nunnally
            p.text.text--sm.text--primary.review-author__position Director of Support
        .swiper-slide.review
          q.text.text--xl.text--primary.review__quote
            | I really can recommend this theme, because it’s coded very well and with the Webflow page builder it’s really easy to build your own website! Also it’s updated regularly and new functions are added!
          .review-author
            .review-author__photo
              +image("employeers/bruce-wayne.jpg", "Bruce Wayne's photo")
            h5.title.title--md.review-author__name Bruce Wayne
            p.text.text--sm.text--primary.review-author__position Campaign Planner
        .swiper-slide.review
          q.text.text--xl.text--primary.review__quote
            | I really can recommend this theme, because it’s coded very well and with the Webflow page builder it’s really easy to build your own website! Also it’s updated regularly and new functions are added!
          .review-author
            .review-author__photo
              +image("employeers/james-brown.jpg", "James Brown's photo")
            h5.title.title--md.review-author__name James Brown
            p.text.text--sm.text--primary.review-author__position Social Media Executive
      .reviews-slider__pagination
