section.team
  .container.team__container
    h2.title.title--xl.title--primary.team__title Marketing Team
    p.text.text--md.text--primary.team__text
      | The most wonderful people our company
    .team__wrapper
      .employee
        .employee__photo
          +image("employeers/jonathan-kent.jpg", "Jonathan Kent's photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name Jonathan Kent
          span.text.text--sm.text--primary.employee__position SEO Manager
      .employee
        .employee__photo
          +image("employeers/bruce-wayne.jpg", "Bruce Wayne's photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name Bruce Wayne
          span.text.text--sm.text--primary.employee__position Campaign Planner
      .employee
        .employee__photo
          +image("employeers/james-brown.jpg", "James Brown's photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name James Brown
          span.text.text--sm.text--primary.employee__position Social Media Executive
      .employee
        .employee__photo
          +image("employeers/diana-prince.jpg", "Diana Prince's photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name Diana Prince
          span.text.text--sm.text--primary.employee__position Marketing Expert
      .employee
        .employee__photo
          +image("employeers/anthony-jones.jpg", "Anthony Jones's photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name Anthony Jones
          span.text.text--sm.text--primary.employee__position SEO Executive
      .employee
        .employee__photo
          +image("employeers/adam-evans.jpg", "Adam photo")
        .employee__info
          h5.title.title--md.title--primary.employee__name Adam Evans
          span.text.text--sm.text--primary.employee__position Graphic Designer
