.team {
  margin-bottom: rem(190px);

  &__title {
    margin-bottom: rem(10px);
  }

  &__text {
    margin-bottom: rem(60px);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(60px) rem(30px);
    justify-content: space-between;
  }

  &__title,
  &__text {
    text-align: center;
  }
}

.employee {
  display: flex;
  align-items: center;

  &__photo {
    width: rem(86px);
    height: rem(86px);
    margin-right: rem(25px);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}
