section.why#why
  .container.why__container
    .strategy
      .strategy__description
        h4.title.title--md.title--secondary.strategy__subtitle We’re SEO & Marketing Agency
        h2.title.title--xl.title--primary.strategy__title
          | Building an effective conversion strategy
        p.text.text--md.text--primary.strategy__text
          | A great marketing landing page plays a major role to increase conversion rates in order to reach your marketing or business growth goals. It helps you to Introduce your digital campaign to visitors in a more professional way.
      ul.list-reset.strategy__list
        li.strategy-item
          .strategy-item__image
            +image("paper-plane-shape.jpg", "Paper Plane")
          .strategy-item__content
            h5.title.title--md.title--primary.strategy-item__name Digital Marketing
            p.text.text--sm.text--primary.strategy-item__description
              | It’s a modern business theme, that lets you build stunning high performance websites using a fully visual interface.
        li.strategy-item
          .strategy-item__image
            +image("rocket-shape.jpg", "Rocket")
          .strategy-item__content
            h5.title.title--md.title--primary.strategy-item__name Search Engine Optimization
            p.text.text--sm.text--primary.strategy-item__description
              | It’s a modern business theme, that lets you build stunning high performance websites using a fully visual interface.
    .info
      .info__illustration
        +image("people-in-laptop.jpg", "A girl in laptop shakes a hand to boy who outside the laptop")
      .info__content
        h4.title.title--md.title--secondary.info__subtitle Looking for best SEO results?
        h2.title.title--xl.title--primary.info__title
          | Appear on the front page of Google!
        p.text.text--md.text--primary.info__text
          | Spyro is a powerful landing pages builder WordPress theme that lets you build high converting landing pages using its specially crafted modules clubbed inside.
        ul.list-reset.info__list
          li.info__item Connect with Customers
          li.info__item Revenue Generating
          li.info__item Increase Traffic
          li.info__item Increase Conversion
          li.info__item Online Reputation
          li.info__item Real-Time Analytics
          li.info__item Build brand value
    .info
      .info__content
        h4.title.title--md.title--secondary.info__subtitle Looking for best SEO results?
        h2.title.title--xl.title--primary.info__title
          | Appear on the front page of Google!
        p.text.text--md.text--primary.info__text
          | Spyro is a powerful landing pages builder WordPress theme that lets you build high converting landing pages using its specially crafted modules clubbed inside.
        .info__chars
          .info-char
            .info-char__icon
              +icon("upload")
            .info-char__content
              h3.info-char__percent 98.5%
              span.info-char__name Satisfaction
          .info-char
            .info-char__icon
              +icon("person")
            .info-char__content
              h3.info-char__percent 150%
              span.info-char__name Conversion
      .info__illustration
        +image("people-in-work.jpg", "People are doing their work")
