@import "../mixins";

// Libs

@import "swiper/swiper";

// Components

@import "@cmps/Header/header";
@import "@cmps/Footer/footer";

// Sections

@import "@partials/index/home";
@import "@partials/index/why";
@import "@partials/index/optimization";
@import "@partials/index/services";
@import "@partials/index/how";
@import "@partials/index/team";
@import "@partials/index/prices";
@import "@partials/index/reviews";
@import "@partials/index/partners";
@import "@partials/index/news";

.top-wave,
.bottom-wave {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    z-index: -1;
    width: 100%;
    height: rem(115px);
    pointer-events: none;
    content: "";
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

.top-wave {
  &::before {
    top: 0;
    background-image: url("@images/top-wave.png");
    transform: translateY(-100%);
  }

  &--violet::before {
    background-image: url("@images/top-wave-violet.png");
  }

  &--selago::before {
    background-image: url("@images/top-wave-selago.png");
  }
}

.bottom-wave {
  &::after {
    bottom: 0;
    background-image: url("@images/bottom-wave.png");
    transform: translateY(100%);
  }

  &--violet::after {
    background-image: url("@images/bottom-wave-violet.png");
  }
}
