@import "@cmps/Logo/logo";

.header {
  position: absolute;
  z-index: var(--z-header);
  width: 100%;

  &__top {
    padding: rem(20px) 0;
  }

  &__bottom {
    padding: rem(26px) rem(15px);
    background-color: var(--color-light);
    border-radius: 10px;

    @include tablet {
      padding: rem(20px) rem(15px);
    }

    @include l-mobile {
      padding: rem(15px);
    }
  }

  &__cta {
    padding: rem(13px) rem(28px);
    font-size: rem(13px);

    @include l-tablet {
      padding: rem(10px) rem(24px);
    }

    @include l-mobile {
      padding: rem(8px) rem(20px);
      font-size: rem(11px);
    }
  }

  &__top,
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-contacts {
  display: flex;

  &__item {
    display: flex;
    align-items: center;
    font-style: normal;
    color: var(--color-light);

    &::before {
      display: inline-block;
      width: rem(28px);
      height: rem(28px);
      margin-right: rem(12px);
      content: "";
      background-color: var(--color-secondary);
      background-repeat: no-repeat;
      background-position: center;
      background-size: rem(12px);
    }

    &:not(:last-child) {
      margin-right: rem(20px);
    }

    &--phone::before {
      background-image: url("#/phone");
    }

    &--mail::before {
      background-image: url("#/paper-plane");
    }

    @include l-tablet {
      font-size: rem(13px);

      &::before {
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(10px);
        background-size: rem(10px);
      }
    }

    @include l-mobile {
      font-size: rem(11px);

      &::before {
        width: rem(20px);
        height: rem(20px);
        margin-right: rem(8px);
      }

      &:not(:last-child) {
        margin-right: rem(10px);
      }
    }
  }
}

.header-socials {
  display: flex;
  align-items: center;

  &__item {
    width: rem(18px);
    height: rem(18px);

    &:not(:last-child) {
      margin-right: rem(15px);
    }

    svg {
      width: 100%;
      height: 100%;
    }

    @include l-tablet {
      width: rem(16px);
      height: rem(16px);

      &:not(:last-child) {
        margin-right: rem(12px);
      }
    }
  }

  @include l-mobile {
    display: none;
  }
}

.main-nav {
  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    &::after {
      position: absolute;
      bottom: rem(-3px);
      display: block;
      width: 0;
      height: rem(2px);
      content: "";
      background-color: var(--color-secondary);
      transition: width 0.3s ease-in-out;
    }

    a {
      color: var(--color-dark);
    }

    &:not(:last-child) {
      margin-right: rem(30px);
    }

    &:hover::after {
      width: 100%;
    }

    @include l-tablet {
      a {
        font-size: rem(14px);
      }

      &:not(:last-child) {
        margin-right: rem(24px);
      }
    }
  }

  @include tablet {
    display: none;
  }
}
