.btn {
  display: inline-block;
  cursor: pointer;
  border: 2px solid currentcolor;
  border-radius: 32px;
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  // Variants

  &--primary {
    color: var(--color-light);
    background-color: var(--color-secondary);
    border-color: transparent;

    &:hover {
      background-color: var(--color-black);
    }
  }

  &--secondary {
    color: var(--color-primary);

    &:hover {
      color: var(--color-light);
      background-color: var(--color-primary);
      border-color: var(--color-primary);
    }
  }

  // Sizes

  &--md {
    padding: rem(16px) rem(47px);

    @include sm-laptop {
      padding: rem(14px) rem(34px);
      font-size: rem(12px);
    }

    @include tablet {
      padding: rem(12px) rem(30px);
    }
  }
}
