.text {
  font-weight: 400;
  line-height: em(34px, 18px);

  // Variants

  &--primary {
    color: var(--color-bush);
  }

  &--secondary {
    color: var(--color-light);
  }

  // Sizes

  &--xl {
    font-size: rem(24px);

    @include sm-laptop {
      font-size: rem(18px);
    }

    @include tablet {
      font-size: rem(16px);
    }

    @include l-mobile {
      font-size: rem(14px);
    }
  }

  &--md {
    font-size: rem(18px);

    @include sm-laptop {
      font-size: rem(16px);
    }

    @include tablet {
      font-size: rem(14px);
    }

    @include mobile {
      font-size: rem(12px);
    }
  }

  &--sm {
    font-size: rem(15px);

    @include l-tablet {
      font-size: rem(13px);
    }
  }
}
