.title {
  font-weight: 400;
  line-height: em(56px, 42px);

  // Variants

  &--primary {
    color: var(--color-primary);
  }

  &--secondary {
    color: var(--color-secondary);
  }

  &--thindly {
    color: var(--color-light);
  }

  // Sizes

  &--xl {
    font-size: rem(42px);

    @include sm-laptop {
      font-size: rem(30px);
    }

    @include l-tablet {
      font-size: rem(24px);
    }

    @include l-mobile {
      font-size: rem(20px);
    }
  }

  &--md {
    font-size: rem(19px);

    @include sm-laptop {
      font-size: rem(17px);
    }

    @include l-mobile {
      font-size: rem(15px);
    }
  }
}
