include @cmps/Logo/logo

footer.footer
  .container
    .footer__top
      .footer__column
        +logo
        p.text.text--sm.text--primary.footer__text
          | Spyro is a modern marketing landing page WP theme. that lets you build websites
      .footer__column
        h4.title.title--md.title--primary.footer__title Quick Links
        a.link-reset.footer__link(href="#") Why SEO?
        a.link-reset.footer__link(href="#") Service
        a.link-reset.footer__link(href="#") Our Team
        a.link-reset.footer__link(href="#") Our Team
      .footer__column
        h4.title.title--md.title--primary.footer__title Services
        a.link-reset.footer__link(href="#") SEO & Marketing
        a.link-reset.footer__link(href="#") Email Marketing
        a.link-reset.footer__link(href="#") Mobile Marketing
        a.link-reset.footer__link(href="#") Google Ads
      .footer__column
        h4.title.title--md.title--primary.footer__title Get in touch
        address.footer__item
          +icon("phone-secondary")
          a.link-reset(href="tel:+18001234567") 1800-123-4567
        address.footer__item
          +icon("map-secondary")
          | HSR Layout
          br
          | 21st Cross, Bangalore - 56010
        address.footer__item
          +icon("mail-secondary")
          a.link-reset(href="mailto:info@brandexponents.com") Info@brandexponents.com
      .footer__column
        h4.title.title--md.title--primary.footer__title Follow us
        .footer__socials
          a.link-reset(href="#")
            +icon("facebook")
          a.link-reset(href="#")
            +icon("instagram")
          a.link-reset(href="#")
            +icon("twitter")
    .footer__bottom
      p.footer__rights &copy; SEOFlow 2021. All Rights Reserved.
      p.footer__sign
        | Powered by 
        span Webflow
