extends layouts/page
include _mixins

block config
  - page.title = "SeoFlow"

block styles
  +style("styles/index.css")

include @cmps/Burger/burger

block partials
  include @cmps/Header/header
  +burger
  main
    include @partials/index/home
    include @partials/index/why
    include @partials/index/optimization
    include @partials/index/services
    include @partials/index/how
    include @partials/index/team
    include @partials/index/prices
    include @partials/index/reviews
    include @partials/index/partners
    include @partials/index/news
    include @partials/index/contact
  include @cmps/Footer/footer

block scripts
  +script("scripts/index.js")
